/* 
- Creation Date: 07/22/2023
-Created by Sajith Aravindan
========================================================================================

/* Global Styling  */
:root {
    --btnBackground: #351C75;
    --btnBackgroundHover: #BD60E7;
    --mainBackground: #ffffff;
    --mainTextColor: #000000;
}

/* Full Body Section Styling */
body {
    position: relative;
    margin: 0.5rem;
    min-height: 98vh;
    font-family:  'Titillium Web', Arial, Helvetica, sans-serif; /* The First font family is from Google fonts*/
    font-size: 20px;
    background-color: var(--mainBackground);
}

/* Header Section Styling */
header {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 3px 10px 3px 10px;
}

/* Header Section Styling */
header p {
    padding: 3px 10px 3px 10px;
}

/* Header Section Buttons Styling */
header button {
    text-decoration: none;
    background: var(--mainBackground);
    color: var(--btnBackgroundHover);
    border: 0;
    padding: 3px 10px 3px 10px;
    cursor: pointer;
}

/* Main Section Styling */
main {
    display: flex;
    flex-direction: column;    
    align-items: center;
    width: 100%;
    padding: 5vh 15vw 5vh 15vw;    
}

/* Main Section h1 Styling - used for titles & Quiz Questions */
main h1 {
    margin: 3vh;
    font-size: 200%;
    text-align: center;
}

/* Main Section Buttons Styling */
main button {
    margin: 3vh;    
    padding: 10px 40px 10px 40px;
    background: var(--btnBackground);
    color: var(--mainBackground);
    border: 0;
    border-radius: 7px; /* round corners */    
    cursor: pointer;
}

/* Main Section Buttons Hover Styling */
main button:hover {   
    background: var(--btnBackgroundHover);    
}

/* Initial text Styling */
main #lblInitContent {
    text-align: center;
}

/* Main Section Buttons Styling */
#lstDisplayAnswers {
    align-items: flex-start;
    margin-left: 60%;    
}

/* Styling for the Section LI that displays Answers */
#lstDisplayAnswers li {    
    margin: 2vh;
    width: max-content;
    min-width: 20vw;
    padding: 20px 20px 20px 10px;
    background: var(--btnBackground);
    color: var(--mainBackground);
    border: 0;
    border-radius: 7px;  
    font-size: 130%;
    cursor: pointer;   
}

/* Styling for the Answers Section LI Hover*/
#lstDisplayAnswers li:hover {
    background: var(--btnBackgroundHover); 
}

/* Styling for the Section LI that displays User High Scores */
#divDisplayHigeScore ol li {
    margin: 1vh;
    width: 100%;
    min-width: 20vw;
    padding: 10px 10px 10px 10px;
    border: 0;
    border-radius: 7px;
    font-size: 30px;  
}

/* Styling for the Section that displays User Scores Result*/
#divResult {
    align-items:flex-start;
    margin-left: 65%;
    width: 100%; 
    font-style: italic; 
    font-size: 20px;
    color:grey;
}

/* Styling for the line */
.hrcls {    
    width: 100%;    
    border-top: 2px solid grey;
}

/* Styling for the Input textbox */
#fName {    
    padding:10px;
    border: 10px;
    margin: 0px 0px 0px 10px;
    box-shadow:0 0 15px 4px grey;
    border-radius:10px;
}